@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-size: 1rem;
}

.blueSvg {
    filter: invert(12%) sepia(63%) saturate(6234%) hue-rotate(193deg) brightness(87%) contrast(156%)
}

.loading {
  display: flex;
  place-items: center;
  min-height: 100vh;
}

.loading .margin {
  margin: 0 auto;
}

.logo {
  padding: 2rem;
  height: 15em;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.wifi:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 5s linear;
  }
}