@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

#root {
  font-size: 1rem;
}

.blueSvg {
    filter: invert(12%) sepia(63%) saturate(6234%) hue-rotate(193deg) brightness(87%) contrast(156%)
}

.content {
  justify-content: center;
  display: flex;
  flex-direction: row;
  place-items: center;
  margin: 0 auto;
  height: 100vh;
}

.content div {
  animation: growAndFade 3s infinite ease-out;
  background-color: dodgerblue;
  border-radius: 50%;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 50%;

  place-items: center;
  margin: 0 auto;
  height: 100vh;
}

.content .circle1 {
  animation-delay: 1s;    
}
.content .circle2 {
  animation-delay: 1.25s; 
}
.content .circle3 {
  animation-delay: 1.5s;
}

.loading {
  display: flex;
  place-items: center;
  min-height: 100vh;
}

.logo {
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.wifi:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes growAndFade {
  0% {
    opacity: .25;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 5s linear;
  }
}
